body {
  margin:0;
  font-family:Arial;
  background:#0b1a2f;
  color:white;
}

.nav {
  padding:20px;
  display:flex;
  justify-content:space-between;
}

.hero {
  display:flex;
  padding:60px;
  align-items:center;
}

.left {
  flex:1;
}

.right img {
  width:300px;
}

.btn {
  background:#00ffcc;
  padding:12px 25px;
  text-decoration:none;
  color:black;
  border-radius:5px;
}

.features {
  display:flex;
  justify-content:space-around;
  padding:40px;
  background:#111;
}

.cta {
  text-align:center;
  padding:50px;
}

.whatsapp {
  position:fixed;
  bottom:20px;
  left:20px;
  background:#25D366;
  padding:12px;
  color:white;
}
